body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    top: 0;
    position: sticky;
    height: 10vh;
    background-color: #2055a5;
    padding: 0 15px 0 15px;
    z-index: 1;
}

#logo {
    height: 85%;
    contain: content;
}

#cabulas {
    color: white; 
    font-size: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#containerHeader {
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#produto {
    background-color: white;
    border: none;
    border-radius: 6px;
    margin: 100px 0px;
    display: flex;
    width: 70%;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.name {
    width: 500px;
}

.name h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 40px 0px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 20vh; */

}

#titleImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.img {
    width: 70%;
}

#details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    font-weight: bold;
    font-size: 40px;
}

#btnComprar {
    font-size: medium;
    font-weight: bold;
    
    color: black;
    background-color: #2055a5;
    border: none;
    border-radius: 6px;
    padding: 7px;
}

#btnComprar:hover {
    cursor: pointer;
    transition: 100ms;
    background-color: rgb(219, 217, 217);
}

.description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#buy {
    display: flex;
    flex-direction: column;
}

.fa-star,
.fa-star-o {
    color: #e0a31f;
}

.icons {
    height: 5vh;
}

